services:
  dtrack-postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: dtrack
      POSTGRES_PASSWORD: dtrack
      POSTGRES_DB: dtrack
    volumes:
      - dtrack-data:/var/lib/postgresql/data

  dtrack-apiserver:
    image: dependencytrack/apiserver:latest
    environment:
      ALPINE_DATABASE_MODE: external
      ALPINE_DATABASE_URL: jdbc:postgresql://dtrack-postgres:5432/dtrack
      ALPINE_DATABASE_DRIVER: org.postgresql.Driver
      ALPINE_DATABASE_USERNAME: dtrack
      ALPINE_DATABASE_PASSWORD: dtrack
    ports:
      - "8081:8080"
    depends_on:
      - dtrack-postgres

  dtrack-frontend:
    image: dependencytrack/frontend:latest
    environment:
      API_BASE_URL: "http://localhost:8081"
    ports:
      - "9000:8080"
    depends_on:
      - dtrack-apiserver

volumes:
  dtrack-data:
